@model (IList<Shengtai.IdentityServer.Models.Shared.Menu> Headers, IList<string> Roles)
@inject Shengtai.IdentityServer.MenuBuilder Builder
@{ 
    
}
@foreach (var header in Model.Headers)
{
    if (header.Show(Model.Roles))
    {
        if (!string.IsNullOrEmpty(header.Text))
        {
            <li class="nav-header">@header.Text</li>
        }
        foreach (var menu in header.Menus)
        {
            if (menu.Show(Model.Roles))
            {
                var itemClass = ViewData.IsActived(Builder, menu.Key) ? "menu-open" : "";
                <li class='nav-item @itemClass'>
                    @await Html.PartialAsync("~/Views/Shared/AdminLTE/_Menu.cshtml", (menu, Model.Roles))
                </li>
            }
        }
    }
}