@inject Shengtai.IdentityServer.IAppSettings AppSettings
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - @AppSettings.IdentityServer.ApplicationName</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/_content/Shengtai.IdentityServer.Razor/lib/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/_content/Shengtai.IdentityServer.Razor/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/_content/Shengtai.IdentityServer.Razor/lib/admin-lte/css/adminlte.min.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
@RenderBody()
<body></body>
</html>
