@page
@inject Shengtai.IdentityServer.IAppSettings AppSettings
@model ResetPasswordConfirmationModel
@{
    Layout = "_BlankLayout";
    ViewBag.Title = "Reset password confirmation";
}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href='@Url.Content("~/")' class="h1"><b>@AppSettings.IdentityServer.ApplicationName</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">@ViewData["Title"]</p>
                <p>
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_BlankLayoutScriptsPartial.cshtml")
</body>