@page
@inject Shengtai.IdentityServer.IAppSettings AppSettings
@model SetPasswordModel
@{
    Layout = "_BlankLayout";
    ViewBag.Title = "Set password";
}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href='@Url.Content("~/")' class="h1"><b>@AppSettings.IdentityServer.ApplicationName</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Set your password</p>
                <form method="post">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Input.NewPassword, new { type = "email", @class = "form-control", placeholder = "新密碼" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Input.ConfirmPassword, new { type = "password", @class = "form-control", placeholder = "新密碼再確認" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Set password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_BlankLayoutScriptsPartial.cshtml")
</body>