@{
    Layout = "AdminLTE/_Layout";
}
@section Navbar {
    @await Html.PartialAsync("~/Views/Shared/AdminLTE/_Navbar.cshtml")
}
@section Scripts {
    <script>
        $(function () {
            var badgeConnection = new signalR.HubConnectionBuilder().withUrl("/badgeHub").build();

            document.getElementById("sendButton").disabled = true;

            badgeConnection.start().then(function () {
                document.getElementById("sendButton").disabled = false;
            }).catch(function (err) {
                return console.error(err.toString());
            });

            document.getElementById("sendButton").addEventListener("click", function (event) {
                badgeConnection.invoke("SendMessage", '2').catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>